@font-face {
    font-family: 'MyFont';
    src: url('./MagicOwlPersonalUse-WyO0O.otf') format('woff2'),
      url('./my-font.otf') format('woff');
    font-weight: 600;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url('./Background.jpg');
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}

h1, h2 {
    color: rgb(116 30 30);
    text-align: center;
}

h1 {
    font-size: 30px;
    font-family: 'MyFont';
}

h2 {
    font-size: 18px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 175, 3, 0.8);
    gap: 5px;
    padding: 5px 0px;
}

#tabs-button-container {
    display: flex;
    padding: 2px 5px 2px 5px;
    gap: 5px;
}

.tabs {
    height: 40px;
    width: 100px;
    background: rgb(242, 227, 228);
    border: 2px solid rgb(107, 64, 64);
    border-radius: 20px;
    font-size: 16px;
}

.tabs:hover {
    cursor: pointer;
    color: white;
    background: rgb(182, 57, 11);
    transform: scale(1.05);
}

.selected {
    color: white;
    background: rgb(182, 57, 11);
    border: 5px solid rgb(237, 132, 132);
    transform: scale(1.05);
}

main {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    text-align: center;
    background: rgba(0 0 0 / 20%);
}

#tab-container  {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgba(36, 35, 35, 0.6);
}

h3 {
    padding: 20px 0px;
    color: rgb(255, 132, 0);
    font-size: 28px;
    justify-content: center;
}


#tab-container h3 {
    width: 100%;
    background: rgba(20, 1, 20, .6);
}

h2 {
    font-size: 25px;
}

#sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 800px;
    border: 15px solid rgba(141, 121, 20, 0.8);
    background: rgb(249, 250, 237);
    opacity: 100%;
    padding: 30px 0px;
    margin: auto;
}

img {
    width: 400px;
    border: 5px solid rgb(83 74 70)
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

figcaption {
    background: #140114d9;
    color: rgb(255, 132, 0);
    padding: 5px 0px;
    font-weight: 600;
}

.figures-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

#home-page img {
    width: 500px;
    border: 5px solid rgb(83 74 70);
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    padding: 5px 0px;
}

footer a {
    color: white;
    text-decoration: none;
}

@media (max-width: 850px) {

    #sub-container {
        height: 100%;
        width: 100%;
        border: none;
        padding: 30px 0px;
    }
}